:root {
    --pink: #dc5cb4;
    --brown: #744c5c;
    --white: #ecdcbc;
    --black: #3c3c4c;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: var(--black);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.section_brown {
    background-color: var(--brown);
}

.section_white {
    background-color: var(--white);
}

.section_pink {
    background-color: var(--pink);
}