:root {
    --pink: #dc5cb4;
    --brown: #744c5c;
    --white: #ecdcbc;
    --black: #3c3c4c;
}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    color: white;
    background-color: var(--black);
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.section_brown {
    background-color: var(--brown);
}

.section_white {
    background-color: var(--white);
}

.section_pink {
    background-color: var(--pink);
}

.wave1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave1 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 123px;
    transform: rotateY(180deg);
}

.wave1 .shape-fill {
    fill: #3C3C4C;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave1 svg {
        width: calc(109% + 1.3px);
        height: 123px;
    }
}

.wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 111px;
    transform: rotateY(180deg);
}

.wave2 .shape-fill {
    fill: #744C5C;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .wave2 svg {
        width: calc(109% + 1.3px);
        height: 111px;
    }
}