.play_button {
    font-size: 1.5em;
}

/* Center a Div */
body {
    background-color: aqua;
}

.section1 {
    background-color: white;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
}
body {
  margin: 0;
  overflow: overlay;
}