body, html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* font family */
	background-color: #eeeeee;
}

* {
  box-sizing: border-box; /* includes padding + border in element's total width + height */
}

/* big apple logo to click */
#clickButton {
	width: 300px;
	height: 350px;
	transition-duration: 0.3s;
	box-shadow: 0 4px 8px 0 #3188cc;
	border-radius: 8px;
	margin-top: 60px;
	cursor: pointer; 
}

/* when you hover over it, box shadow color will change, and it'll rounder */
#clickButton:hover {
	transition-duration: 0.5s;
	box-shadow: 0 4px 8px 0 #979797;
	border-radius: 15px;
}

/* when you click it, box shadow color will change again, it'll be even more rounder, and will go a bit bigger */
#clickButton:active {
	box-shadow: 0 4px 8px 0 #666666;
	border-radius: 20px;
	-ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

/* div with all the information (apples, apples per second, apples per click) */
#info {
	margin-top: 30px;
	font-size: 20px;
	margin-bottom: 50px;
}

#appleCounter {
	font-size: 25px;
	font-weight: bold;
}

.number {
	color: #3188cc;
}

#gameOver {
	font-size: 30px;
	color: #3188cc;
	font-style: italic;
}

/* contains all the items that can be bought */
.itemContainer {
  display: flex; /* using flexbox to align items */
  flex-wrap: wrap; /* to force items on multiple lines */
}

/* each individual item */
.item {
  padding: 10px; /* some spacing around */
  flex: 25%; /* to put 4 items on each line (100/4 = 25) */
}

/* each item image */
.itemImage {
	height: 20%;
	width: 20%;
}

/* contains information about each item */
.containerText {
	font-size: 16px;
  text-align: center;
}

/* contains buy button */
.buyButtonContainer {
	margin-top: 20px;
}

/* button to buy item */
.buyButton {
	cursor: pointer;
	text-align: center;
	background: #0071e3;
	color: #fff;
	font-size: 17px;
	font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 12px;
	border: none;
}

/* on hover, makes button a bit lighter */
.buyButton:hover {
	opacity: 0.7;
}

/* for smaller screens (eg: phones) */
@media (max-width: 800px) {
  .item {
    flex: 100%; /* makes one item on each line */
  }
}